@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Corinthia:wght@700&display=swap");

.footer {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  font-size: xx-large;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Corinthia", cursive;
  color: rgb(147, 73, 216);
}
